.card__wallaper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 35rem;
    min-height: 40rem;
    gap: 1rem;
    padding: 1rem;

    border: 1px solid var(--accent-secondary);
    border-radius: 1rem;
    background-color: var(--gray-900);
    box-shadow: var(--shadow-lg-acent);
}


.number {
    color: var(--text-light);
    font-size: 2rem;
}


.card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.card__icon {
    border: 1px solid var(--accent-primary);
    padding: 0.5rem;
    border-radius: 1rem;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.card__text__title {
    color: var(--accent-primary);
}


.card__features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    border-top: 1px solid var(--text-light);
    padding-top: 1rem;
}

.card__feature {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    color: var(--text-light);
    line-height: 1.4;
}

.card__feature:first-child {
    color: var(--accent-primary);
    font-size: 1.2rem;
    opacity: 0.9;
}


.feature__icon {
    color: var(--accent-primary);
    font-weight: bold;
}




.card__cta {
    margin-top: auto;
    padding-bottom: 1rem;
}

.card__cta .acent-dark {
    width: 100%;
    justify-content: center;
}