.cards {
    display: flex;
    gap: 3rem;
}

#service {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-blue-lighter);
}

.text__block {
    text-align: center;
    margin-bottom: 2rem;
}

.text__block h2 {
    color: var(--text-primary);

}

.you {
    color: var(--accent-primary);
}

/* Мобильные устройства */
@media (max-width: 767px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}

/* Планшеты и десктоп */
@media (min-width: 768px) {
    .cards {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}