.footer {
    padding: 5rem;
    padding-bottom: 2rem;
    background-color: var(--bg-dark);
    min-height: auto;
    color: var(--text-light);
}

.footer__contetn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}