.btn {
    color: var(--text-secondary);
    font-size: 1rem;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;


    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    opacity: 0.8;
    transition: all 0.5s ease;
}

.btn:hover {
    opacity: 1;
    border: 1px solid var(--border-medium);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--text-primary);

}


.big {
    font-size: 18px;
    padding: 25px 35px;
}

.acent {
    background-color: var(--accent-primary);
    color: white;
}

.acent:hover {
    color: var(--white);
    box-shadow: var(--shadow-sm);
}