.btn {
    padding: 20px 30px;
    color: #4b4b4b;
    font-size: 16px;
    border-radius: 16px;

    border: 1px solid transparent; 
    opacity: 0.8;
    transition: all 0.5s ease;
}

.btn:hover {
    opacity: 1;
    border: 1px solid gray;
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.big {
    font-size: 18px;
    padding: 25px 35px;
}

.acent {
    background-color: blue;
    color: white;
}

