.mini__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;

    border: 1px solid var(--accent-primary);
    border-radius: 1rem;
    cursor: pointer;

    flex: auto;
    transition: all 0.5s ease;
}

.mini__card:hover {
    transform: scale(1.1);
}

.mini__card__image {
    margin-bottom: 0.5rem;
}

.mini__card__title {
    color: var(--accent-primary);
    font-size: 1.5rem;
}

.text__mini {
    font-size: 1rem;
}