@font-face {
    font-family: "Inter";
    src: url(/public/fonts/Inter.ttf) format(".ttf");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url(/public/fonts/Raleway.ttf) format(".ttf");
    font-display: swap;
}
