:root {

  --white: #ffffff;
  --black: #000000;

  --white-blue: #f0f3fa;
  --sky-blue: #b1c9ef;
  --dark-blue-sky: #628ebc;

  /* Оттенки серого */
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;

  /* Акцентные цвета - синяя гамма */
  --accent-primary: #2563eb;
  --accent-secondary: #3b82f6;
  --accent-dark: #1e40af;

  /* Текст */
  --text-primary: var(--gray-900);
  --text-secondary: var(--gray-700);
  --text-light: var(--gray-500);

  --bg-dark: #1a1a1a;
  --bg-secondary: #f8fafc;

  --border-light: #e5e7eb;
  --border-medium: var(--gray-300);

  /* Состояния */
  --success: #10b981;
  --error: #ef4444;
  --warning: #f59e0b;

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  --shadow-lg-acent: 0 20px 20px -3px rgba(35, 50, 255, 0.1);
  --shadow-sm-acent: 0 10px 15px -3px rgba(35, 50, 255, 0.1);

  --gradient-primary: linear-gradient(135deg, #2563eb 0%, #3b82f6 100%);
  --gradient-hero: linear-gradient(135deg, #f8fafc 0%, #ffffff 100%);

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  color: var(--accent-primary);
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
}


nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

}

nav .footer__link {
  color: var(--text-secondary);
  font-size: 1.3rem;
}


.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.4rem;
}

.section {
  width: 100%;
  padding: 2.5rem 1rem;
  margin-bottom: 5rem;
  min-height: 100vh;
  max-height: 100vh;
}

/* section-dark */
.dark {
  background-color: var(--bg-dark);
  color: var(--white);
  min-height: 102vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 1.2rem;
  color: var(--text-light);
  margin-bottom: 1.5rem;
}



/* Адаптив глобальных стилей */