.benefit__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    flex: 1;
    gap: 0.5rem;
    min-width: 2rem;
    max-width: 35rem;

    border: 2px solid var(--accent-primary);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-lg);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.benefit__item:hover {
    flex: 1.2;
    transform: translateY(-0.5rem) scale(1.05);
    border-color: var(--accent-secondary);
}

.benefit__text {
    text-align: center;

    width: 100%;
    padding: 0 0.5rem;
}

.benefit__title {
    color: var(--accent-primary);
    font-size: 1.2rem;
}

.text__mini {
    font-size: 1rem;
}



/* Плавное уменьшение неактивных карточек */
.about__benefit:hover .benefit__item:not(:hover) {
    transform: scale(0.95);
    opacity: 0.7;
}


.benefit__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--accent-primary);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.benefit__item:hover::after {
    transform: scaleX(1);
}


.benefit__icon {
    transition: transform 0.3s ease;
}

.benefit__item:hover .benefit__icon {
    transform: rotate(5deg) scale(1.1);
}