.link {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0.9;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.link:hover {
    color: var(--accent-primary);
    border-bottom: 2px solid var(--accent-secondary);
    opacity: 1;
}

.link__text {
    color: var(--text-primary);
    font-style: italic;
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;

}

.link__text:hover {
    border-bottom: 2px solid var(--accent-secondary);

}