.about__text {
    max-width: 50rem;
}

.about__text__title {
    color: var(--accent-primary);
    font-weight: bold;
}

.about__quote {
    font-style: italic;
    color: var(--text-secondary);
    border-left: 3px solid var(--accent-primary);
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1.6;
    background: var(--gray-50);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-left: 4px solid var(--accent-secondary);

    margin-bottom: 3rem;
    box-shadow: var(--shadow-sm);
}

.about__image {
    max-width: 25rem;
    width: 100%;
    height: auto;
}

.about__benefit {
    display: flex;
    gap: 1rem;
}