#about {
    padding-top: 10rem;
}

.about__text {
    padding-left: 5rem;
    flex: 1;
}

.about__quote {
    font-style: italic;
    color: var(--text-secondary);
    border-left: 3px solid var(--accent-primary);
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1.6;
    background: var(--gray-50);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-left: 4px solid var(--accent-secondary);

    margin-bottom: 3rem;
    box-shadow: var(--shadow-sm);
}



.about__benefit {
    display: flex;
    gap: 1rem;
}


.about__image_block {
    width: 40%;
    height: 35rem;
    max-width: 30rem;
    min-width: 20rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.about__image {
    border: 2px solid var(--accent-primary);
    border-radius: 1.5rem;
    box-shadow: var(--shadow-lg-acent);

    width: 100%;
    height: auto;
    object-fit: cover;
}

.about__image_caption {
    text-align: center;
    margin-top: 0.5rem;
    font-style: italic;
    color: var(--text-light);
    font-size: 0.9rem;
    padding: 0 0.5rem;
}